{% extends "PendulageAccueilBundle::base.html.twig" %}
{% import "PendulageAccueilBundle::bootstrap.html.twig" as bootstrap%}

{% block title %}PendulageAccueilBundle:VingtCinq:Add{% endblock %}

{% block body %}
    <h1>Calcul 25KV alternatif</h1>


    <div class="row">
        <div class="col-md-10">
            {{bootstrap.formGroup(form.isolateur, 'Isolateur ')}}
        </div>
        <div class="col-md-2"><a href="{{path('iso_add')}}"><button type="button" class="btn btn-danger">New Isolateur</button></a></div>
    </div>
    <br/>
    {{form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form', 'novalidate': ''} })}}
    {{bootstrap.formGroup(form.ohleOhle, 'Type of Ohle')}}
    {{bootstrap.formGroup(form.support1Support, 'Numéro du support de gauche')}}
    {{bootstrap.formGroup(form.relevementgauche, 'Relevement de gauche ')}}
    {{bootstrap.formGroup(form.support2Support, 'Numéro du support de droite')}}
    {{bootstrap.formGroup(form.relevementdroite, 'Relevement de droite ')}}
    {{bootstrap.formGroup(form.spanlenth, 'Span length')}}
    {{bootstrap.formGroup(form.sysheightleft, 'System height left')}}
    {{bootstrap.formGroup(form.sysheightright, 'System height right')}}
    {{bootstrap.formGroup(form.intendedsag, 'Intended sag')}}
    {{bootstrap.formGroup(form.dropperrepartition, 'Dropper repartition (spacing)')}}
    {{bootstrap.formGroup(form.distanceminimun, 'Distance between suspension and first dropper at minimum')}}
    {{bootstrap.formGroup(form.distancemaximun, 'Distance between suspension and first dropper at maximum')}}
    {{bootstrap.formGroup(form.distanceaxis, 'Smallest distance between axis (of conductors) ')}}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {{form_widget(form.save, {'attr': {'class':'btn btn-default'} })}}
        </div>
    </div>

    <br/>

    <table class="table">
        <thead>
            <tr>
                <th>Pendules</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Répartition</th>
                <td>4.500</td>
                <td>6.750</td>
                <td>6.750</td>
                <td>6.750</td>
                <td>6.750</td>
                <td>6.750</td>
                <td>6.750</td>
                <td>4.500</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th>Entraxes "L"</th>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th>Longueurs "l"</th>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
            </tr>
        </tbody>
    </table>

    {{ form_end(form) }}

{% endblock %}
