{% extends "PendulageAccueilBundle::base.html.twig" %}
{% import "PendulageAccueilBundle::bootstrap.html.twig" as bootstrap%}

{% block title %}PendulageAccueilBundle:VingtCinq:Add{% endblock %}

{% block body %}
    <h1>Calcul 25KV alternatif</h1>
    
    {{form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form', 'novalidate': ''} })}}

    {{bootstrap.formGroup(form.ohleOhle, 'Type of Ohle')}}
    {{bootstrap.formGroup(form.support1Support, 'Numéro du support de gauche')}}
    {{bootstrap.formGroup(form.support2Support, 'Numéro du support de droite')}}
    {{bootstrap.formGroup(form.spanlenth, 'Span length')}}
    {{bootstrap.formGroup(form.sysheightleft, 'System height left')}}
    {{bootstrap.formGroup(form.sysheightright, 'System height right')}}
    {{bootstrap.formGroup(form.intendedsag, 'Intended sag')}}
    {{bootstrap.formGroup(form.dropperrepartition, 'Dropper repartition (spacing)')}}
    {{bootstrap.formGroup(form.distanceminimun, 'Distance between suspension and first dropper at minimum')}}
    {{bootstrap.formGroup(form.distancemaximun, 'Distance between suspension and first dropper at maximum')}}
    {{bootstrap.formGroup(form.distanceaxis, 'Smallest distance between axis (of conductors) ')}}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {{form_widget(form.save, {'attr': {'class':'btn btn-default'} })}}
        </div>
    </div>
    {{ form_end(form) }}
    
{% endblock %}
