{% extends "PendulageAccueilBundle::base.html.twig" %}
{% import "PendulageAccueilBundle::bootstrap.html.twig" as bootstrap%}

{% block title %}PendulageAccueilBundle:VingtCinq:Add{% endblock %}

{% block body %}
    <h1>Calcul 25KV alternatif</h1>

    {{form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form', 'novalidate': ''} })}}
    <div class="row">
        <div class="col-md-10">
            {{bootstrap.formGroup(form.isolateur, 'Isolateur ')}}
        </div>
        <div class="col-md-2"><a href="{{path('iso_add')}}"><button type="button" class="btn btn-info">New Isolateur</button></a></div>
    </div>
    <br/>
    {{bootstrap.formGroup(form.ohleOhle, 'Type de caténaire')}}
    {{bootstrap.formGroup(form.support1Support, 'Numéro du support de gauche')}}
    {{bootstrap.formGroup(form.relevementgauche, 'Relevement de gauche ')}}
    {{bootstrap.formGroup(form.support2Support, 'Numéro du support de droite')}}
    {{bootstrap.formGroup(form.relevementdroite, 'Relevement de droite ')}}
    {{bootstrap.formGroup(form.spanlenth, 'Portée')}}
    {{bootstrap.formGroup(form.sysheightleft, 'Encombrement gauche')}}
    {{bootstrap.formGroup(form.sysheightright, 'Encombrement droite')}}
    {{bootstrap.formGroup(form.intendedsag, 'Flèche intentionnelle')}}
    {{bootstrap.formGroup(form.dropperrepartition, 'Espacement pendule')}}
    {{bootstrap.formGroup(form.distanceminimun, 'Distance minimale poteau')}}
    {{bootstrap.formGroup(form.distancemaximun, 'Distance maximale poteau')}}
    {{bootstrap.formGroup(form.distanceaxis, 'Plus petite distance de pendule')}}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {{form_widget(form.save, {'attr': {'class':'btn btn-success'} })}}
        </div>
    </div>

    <br/>

    <table class="table">
        <thead>
            <tr>
                <th>Dropper</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Droppers spacings</th>
                <td>4.500</td>
                <td>6.750</td>
                <td>6.750</td>
                <td>6.750</td>
                <td>6.750</td>
                <td>6.750</td>
                <td>6.750</td>
                <td>4.500</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th>Distance from the first suspension</th>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
            </tr>
        </tbody>
    </table>

    {{ form_end(form) }}

{% endblock %}
