<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Pendulage{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('bundles/pendulageaccueil/css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/pendulageaccueil/js/select2-3.5.1/select2-bootstrap.css')}}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
<body>
    {% include 'PendulageAccueilBundle::menu.html.twig' %}

    <div class="container">
        {% for message in app.session.flashbag.get("success") %}
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">
                    <span aria-hidden="true">X</span>
                    <span class="sr-only">Close</span>
                </button>
                {{message}}
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
    </div>

<script src="{{asset('bundles/pendulageaccueil/js/jquery-1.11.1.js')}}"></script>
<script src="{{asset('bundles/pendulageaccueil/js/bootstrap.js')}}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
